boto3==1.17.15
botocore==1.20.15
joblib==1.0.1
jsonschema==3.2.0
numpy==1.20.1
pandas==1.2.2
s3transfer==0.3.4
sagemaker==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
smdebug==1.0.5
smdebug-rulesconfig==1.0.1
urllib3==1.26.3

